*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: black;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.item{
    background-color: purple;
    margin: 10px;
    color: #fff;
    font-size: 22px;
    width: 100px;
    max-height: 500px;
    border-radius: 5px;
    min-height: 100px;
    size-adjust: calc(100vh);
}

.container > .dive{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
   
}